<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#day</key>
	<dict>
		<key>.main</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFF</string>
		</dict>
		<key>.main .header</key>
		<dict>
			<key>backgroundColor</key>
			<string>nil</string>
		</dict>
	</dict>
</dict>
</plist>
